
/* primary color = #EE5253 */

body{
    background-color: #343F56;
    color: white;
    /* background-image: url(/images/online_cv.svg); */

}

label{
    padding-bottom: 4px;
}
  /* social - icons  */

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: .4rem;
    border-radius: 50%;
    margin-bottom: .3rem;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  
  .fa-rss {
      background: #ff6600;
      color: white;
      padding: .4rem;
      border-radius: 20%;
      margin-bottom: .3rem;
    }

.fa-github{

    margin-bottom: .3rem;
    font-size: 1.6rem;
}

#cv-template{
    display: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: yellow;
}
.background-left{
    background-color: #EE5253;
}


.defaultAvatar{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

@media print{
    body {
        background: none;
    }

    .container {

        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
       

    }
    .printbtn{
        display: none;
    }

    
    

    
    
}
